.navbar {
    background-color: #111827; /* Cor primária */
    padding: .1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }


  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #E0E7FF; /* tom claro do azul para hover */
  }

  .logo {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
  }
