* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #0f1720, #0b1220 );
    color: #ffffff;
  
  }

  h1{
    padding: 2rem;
    color: #ffffff;
  }
b
