*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: f0f0f0;
    color: #3c3c3c;
}
.formulario input{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #BA4E2F;
    display: flex;
    border-radius: 3px;
    flex-direction: colum;
    max-width: 300px;
}
.botao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
    border: none;
    background-color: #BA4E2F;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: .5rem ; 
    box-shadow: 2px 1px 4px rgb(0,0,0,0.4);
    transition: 0.5s;
    display: center;
    max-width: 300px;
    width: 500px;
    
}
.formulario{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.formulario img{
    width: 160px;
    padding: 30px 80px;
    
}